/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
	margin: 0;
	padding: 0;
	}
body {padding: 5em;
    margin: 7 auto;
    -webkit-appearance: none;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: right;
  }
  li a{
    display: block;
    padding: 12px 12px;
    color: black; 
    text-align: center;
    text-decoration: none;
  }
form {
        /* Just to center the form on the page */
    margin: 0 auto;
    width: 200px;
}
input, textarea {
    /* To make sure that all text fields have the same font settings
    By default, textareas have a monospace font */
font: 1.5em sans-serif;

    /* To give the same size to all text fields */
width: 60%;
box-sizing: border-box;
border-radius: 8em;
/* To harmonize the look & feel of text field border */
border: 0.5px solid #999;
}

button {
/* This extra margin represent roughly the same space as the space
between the labels and their text fields */
margin-left: 1em;
border-radius: .4em;
font-size: 11pt;
color: black;
background-color: whitesmoke;
border-color: none;
width: 25%;
height: 20pt;
}
button a{
    text-decoration: none;
    color: black;
}
footer, footer ul{
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    width: 100%;
    color: rgb(95, 92, 92);
    bottom: 0;
    margin: 0;
    padding: 0;   
}
footer p{
    text-align: left;
}
footer li a{
    color: rgb(95, 92, 92); 
    width:100%;
}