body {
  -webkit-appearance: none;
  height: 100%;
}

div.body {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: right;
}
li a {
  display: block;
  padding: 12px 12px;
  font-size: 14px;
  color: rgb(97, 94, 94);
  text-align: center;
  text-decoration: none;
}

input,
textarea {
  border-radius: 8em;
  border: 0.5px solid #999;
  box-sizing: border-box;
  display: block;
  font: 18px sans-serif;
  margin: 0 auto;
  padding: 5px;
  width: 60%;
}

button {
  border-radius: 1em;
  background-color: rgb(233, 233, 233);
  border-color: none;
  color: rgb(80, 77, 77);
  font-size: 14px;
  line-height: 18px;
  margin-left: 1em;
  padding: 8px 16px;
  text-decoration: none;
  transition: all 200ms ease;
}
button a {
  color: rgb(80, 77, 77);
  text-decoration: none;
}
button:hover {
  background-color: whitesmoke;
  border: 0.8px solid rgb(186, 186, 192);
  color: black;
  cursor: pointer;
}
p {
  font-size: 12px;
}
p a {
  text-decoration: none;
}
p a:hover {
  text-decoration: underline;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer,
footer ul {
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  color: rgb(95, 92, 92);
}
footer p {
  text-align: left;
  font-size: 14px;
  padding: 1px 20px;
}
footer li a {
  color: rgb(95, 92, 92);
  display: block;
  font-size: 12px;
  padding: 10px 10px;
  text-align: center;
  width: 100%;
}
footer li a:hover {
  text-decoration: underline;
}
